.gscale{
    display: flex;
    flex-direction: column;
    // border: 1px solid green;

    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 40px;

    h1{
        font-size: 28px;
                line-height: 30px;
                font-weight: 700;
                word-spacing: 15px;
                letter-spacing: 0.1px;
                font-family: var(--font-base);
                font-family: 'Nunito', sans-serif;
              color: white;

                span{
                    color: #EC4899;
                }
                svg{
                    color: #0091CF;

                    font-size: 25px;
                }
    }
    
  .gscale__input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
//   gap: 50px;
    width: 150px;
    // border: 1px solid red;
    color: rgb(73, 190, 255);
    background-color: rgba(35, 165, 245, 0.158);

    input{
        border: 0;
        padding: 10px 8px;
        width: 100%;
        color: rgb(73, 190, 255);
        background-color: rgba(35, 165, 245, 0.158);
        font-size: 16px;
    }


  }
  .canvas-container{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    // border: 1px solid green;
    // align-items: center;
    gap: 42px;
    flex: 1;
    position: relative;
    padding: 20px;

    canvas{
       
        padding: 20px;
        width: 550px;
        height: 420px;

        box-shadow: rgba(14 ,190, 233,0.8) 0px 3px 6px, rgb(93, 135, 255,0.8)  0px 3px 6px;
    }
  }
}