.Single {
    display: flex;
    width: 100%;
    width: 100%;

    .singleContainer {
        flex: 6;

        .top {
            padding: 20px;
            display: flex;
            gap: 20px;

            .left {
                flex: 1;
                position: relative;
                padding: 20px;
                
                box-shadow: rgba(14 ,190, 233,0.8) 0px 3px 6px, rgb(93, 135, 255,0.8)  0px 3px 6px;
                .editBtn{
                    position: absolute;
                    right: 0;
                    top: 0;

                   button{
                    padding: 3px 7px; 
                    font-weight: 500;
                    font-size: 16px;
                    color: rgb(73, 190, 255);
            background-color: rgba(35, 165, 245, 0.158);
                    border: 0;
                    border-radius: 3px;
                    cursor: pointer;
                   }
                }


                .item {
                    display: flex;
                    gap: 20px;

                    .itemImg{
                        width: 100px;
                        height: 100px;
                        border-radius: 50px;
                        object-fit:contain;
                    }

                    .detail{
                         
                        .itemTitle{
                            margin-bottom: 10px;
                            color: #111111;
                            font-size: 20px;
                            font-weight: 600;
                        }
                        .detailItem{
                            margin-bottom: 10px;

                            .itemKey{
                                font-weight: bold;
                                color: rgb(37, 37, 37);
                                margin-right: 7px;
                            }
                            .itemValue{
                              font-weight: 400;
                              color:rgb(14, 165, 233);
                            }
                        }
                    }
                }
                .title{
                    font-size: 18px;
                    color: rgb(159, 151, 151);
                    font-weight: 700;
                    margin-bottom: 10px;
                }
            }

            .right {
                flex: 2;
            }
        }
        .bottom{
                
            margin: 10px 20px;
            padding: 20px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            .title{
                font-size: 18px;
                color: rgb(159, 151, 151);
                font-weight: 700;
                margin-bottom: 10px;
                margin-left: 23px;
            }
    
        }


    }
    
}