.team {

    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // border: 1px solid pink;
    height: calc(100vh - 80px);
    padding: 0px 50px;


    h1 {
        font-size: 28px;
        line-height: 30px;
        font-weight: 700;
        word-spacing: 15px;
        letter-spacing: 0.1px;
        font-family: var(--font-base);
        font-family: 'Nunito', sans-serif;
        color: white;
        margin-top: 50px;

        span {
            color: #EC4899;
        }

        svg {
            color: #0091CF;

            font-size: 25px;
        }
    }

    .team__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        gap: 200px;
        padding: 33px;
        // border: 1px solid white;
        padding: 55px;
        margin-top: 22px;
        
        
        // width: 1300px;
        height: 100%;
        
        .team_card {
            box-shadow: rgba(14 ,190, 233,0.8) 0px 3px 6px, rgb(93, 135, 255,0.8)  0px 10px 6px;
            flex-basis: 35%;
            background-color: #0F172A;

            display: flex;
            justify-content: center;
            //align-items: center;
            border-radius: 10px;
            // width: 200px;
            height: 130px;
            // padding: 7px 3px;

            border: 1px solid;

            

            .team_profile_pic {
                width: 200px;
                height: 200px;
                border-radius: 50%;

                // background-color: lawngreen;
                // padding: 5px;
                margin-left: -200px;
                margin-top: -45px;
                box-shadow: rgba(14 ,190, 233,0.8) 0px 3px 6px, rgb(93, 135, 255,0.8)  0px 5px 6px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;

                }
            }

            .profile_intro {
                display: flex;
                // border: 1px solid green;
                
                gap: 10px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: 20px;
                padding: 3px;
                h2 {
                    font-size: 23px;
                    line-height: 20px;
                    font-weight: 500;
                    word-spacing: 5px;
                    letter-spacing: 0.1px;
                    font-family: var(--font-base);
                    font-family: 'Nunito', sans-serif;
                    color: white;
                }
                h4 {
                    font-size: 18px;
                    line-height: 23px;
                    font-weight: 600;
                    word-spacing: 5px;
                    letter-spacing: 0.1px;
                    font-family: var(--font-base);
                    font-family: 'Nunito', sans-serif;
                    color: #0091CF;
                }

              

                p {
                    font-size: 18px;
                    line-height: 23px;
                    font-weight: 600;
                    word-spacing: 15px;
                    letter-spacing: 2px;
                    font-family: var(--font-base);
                    font-family: 'Nunito', sans-serif;
                    color:#EC4899;
                }
            }

            .team_star_icons {
                margin-top: 30px;

                i {
                    font-size: 15px;
                    color: white;
                }
            }
        }
    }
}