// .Chart{
//     flex: 4;
//     box-shadow: rgba(14 ,190, 233,0.8) 0px 3px 6px, rgb(93, 135, 255,0.8)  0px 3px 6px;
//     // border: 1px solid;
//     padding: 10px;
//     color: gray;

//     .title{
//         margin-bottom: 10px;
//         text-align: center;
//         font-size: 18px;
//         span{
//             color: rgb(0, 145, 207);
//             font-weight: bold;
//         }
//     }
// }