.sidebar{
    flex: 1;
    border-right: .5px solid rgb(235, 233, 233);
    min-height: 100vh;
    background-color:#0F172A;
    // background-color: aqua;
    .top{
        display: flex;
        height: 100px;
        align-items: center;
        justify-content: center;
        // background-color: aqua;
       .logo{
            width: 140px;
            cursor: pointer;

        img{
            width: 100%;
            height: 100%;
        }
       }
        
    }
    hr{
        height: 0;
        border: .5px solid rgb(235, 233, 233);
    }
    .center{
        padding-left: 18px;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            .title{
                font-size: 15px;
                font-weight: bold;
                color: #ffffff;
                margin-top: 15px;
                margin-bottom: 5px;
            }
            li{
                display: flex;
                padding: 5px;
                align-items: center;
                cursor: pointer;
                color: white;

                &:hover{
                    background-color: rgba(142, 131, 131, 0.573);
                    border-radius:10px ;
                }

                .icon{
                    font-size: 21px;
                    color: rgb(14 165 233) ;
                }
                span{
                    font-size:13px ;
                    color:#ffffff;
                    font-weight: 400;
                    margin-left: 10px;
                }
            }
        }
    }
    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;
        .colorOption{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 1px solid rgb(0, 145, 207) ;
                cursor: pointer;
                margin: 5px;

                &:nth-child(1){
                    background-color: whitesmoke;
                }
                &:nth-child(2){
                    background-color: #333;
                }
                &:nth-child(3){
                    background-color:darkblue;
                }
        }
    }
}