@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&display=swap');

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color1: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --gray-color1:rgba(188, 194, 205, 0.842);
  --brown-color: #46364a;
  --white-color1: #ffffff;
  --myfvt-color:rgb(14 165 233);
  --new-color:#704CF8;
  /*  food resturant app color */

  --yellow-color:#FFC93B;
  --red-color:#F43732;
  --white-color:#FEFEFE;
  --black-color:#23212A;
  --green-color:#4E966E;
  --red-text:#FA5629;
  --purple-color:#BC7DDF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  
}